@model EmployeeViewModel;

<div class="card text-center" style="width: 18rem; text-align:center;">
    @{
        var avatar = string.IsNullOrEmpty(Model.ProfileImagePath) ? "images/profiles/user.png" : Model.ProfileImagePath;
    }
    <img src=@avatar class="card-img-top" alt="..." height="300">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Model.Dob</li>
        <li class="list-group-item">@Model.Gender</li>
        <li class="list-group-item">@Model.Contact</li>
        <li class="list-group-item">@Model.Address</li>

        <li class="list-group-item">Department: @Model.DepartmentId</li>
        <li class="list-group-item">@Model.Designation</li>
        <br />
        <a href="/employee/index" class="btn btn-success">Back</a>        
    </ul>
</div>